@import "smart-grid.scss";
@import "fa/font-awesome";
@import "vendor/socialButton.scss";
@import "vendor/checkbox.scss";
@import "vendor/slick";
@import "vendor/slick-theme";
@include reset();

html,body{
  width: 100%;
  font-family: "Roboto Condensed", Arial, Tahoma, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body{
  background: url(../img/bg_main1.jpg) no-repeat center top fixed;
  background-size: cover;
}
textarea{
  display: none;
}

.title{
  font-weight: normal;
  font-size: 24px;
  line-height: 1.3em;
  margin: 10px 0;
  text-decoration: none;
  outline: 0;
  color: #161922;
  display: block;
}
.titleCont{
  margin: 25px 0;
}
.author{
  display: inline-block;
  text-decoration: none;
  color: #0095eb;
  font-size: 13px;
  margin-bottom: 15px;
}
.read_more{
  display: inline-block;
  color: #161922;
  text-decoration: none;
  font-style: italic;
  margin: 15px 0 15px 0;
  font-size: 15px;
}
.date{
  text-decoration: none;
  color: #0095eb;
  font-size: 13px;
  margin: 10px 0;
}
.description{
  line-height: 1.5em;
  color: #474747;
  font-size: 15px;
  margin: 10px 0;
}
.pre_h{
  margin-bottom: 7px;
  letter-spacing: 1px;
  color: #a8a8a8;
  text-align: center;
  font-size: 100%;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-rov{
  display: flex;
  flex-direction: row;
}
.jc-sb{
  justify-content: space-between;
}
.col-6{
  @include col-6();
}
.red{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 4px;
  padding: 7px;
}
.youtube-embed-wrapper{
  margin: 25px 0;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden
}
@include checkbox();
#breadcrumb {
  display: flex;
  justify-content: center;
  color: #69c;
  margin-bottom: 5px;
  li{
    display: inline-block;
    margin: 0 5px;
    i{
      font-size: 10px;
      //line-height: 14px;
      vertical-align: middle;
    }
  }
}
#commentform {
  display: flex;
  flex-direction: column;
}
.form_login{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include col();
  @include size(6);
  border: 1px solid #d8d8d8;
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
  margin: 20px auto;
  padding: 20px;
  h3{
    font-size: 30px;
    align-self: center;
    letter-spacing: 1px;
  }
  input, .flex-rov{
    align-self: stretch;
  }
  .label{
    color: #444;
    font-size: 18px;
    margin-top: 10px;
  }
  input[type='text'], input[type='email'], input[type='password']{
    color: #626262;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #d8d8d8;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
    font-size: 16px;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
    margin: 0px 0 5px ;
    padding: 8px;
  }
  button[type='submit'], a.btn{
    background-color: #5EA3E3;
    color: #fff !important;
    border: none;
    padding: 15px 30px;
    font-size: 100%;
    font-weight: 700;
    margin: 10px 0;
    align-self: center;
  }
}
.forum_form {
  margin-top: 15px;
  &_title {
    background-color: #6699cc;
    color: #ffffff;
    padding: 10px;
  }

    .flex-rov{
      margin: 20px 0;
    }
    .marg{
      margin: 10px 0;
    }

  input[type='submit'] {
    background-color: #5EA3E3;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 100%;
    font-weight: 700;
    margin: 10px 0;
  }
  input[type='text']{
    @include size(12);
    color: #626262;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #d8d8d8;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
    font-size: 13px;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
    margin: -5px 0 0;
    padding: 8px;
  }
}
ul#pagination{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  li{
    list-style: none;
    a, span{
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #bcbfc7;
      box-shadow: 0 2px 5px rgba(0,0,0,0.5)
    }
  }
}
@include button();
.left{
  position: fixed;
  width: 250px;
  float: left;
  background: #fff;
  box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);

  .logo{
    margin: 15px 0;

  }
  ul{
    li{
      display: flex;
      text-align: center;
      line-height: 38px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      &.toggle{
        display: none;
      }
      &.rootMenu a{
        margin-right: -28px;
      }
      .btnToggle{
        padding: 0 10px;
      }
      a{
        display: block;
        text-decoration: none;
        color: #444;
        font-size: 100%;
        width: 100%;
        letter-spacing: 1px;
        &.current{
          color: #99cc66;}
      }
    }
  }
  .search{
    text-align: center;
    input[type='text']{
      width: 130px;
      color: #626262;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid #EBEBEB;
      box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
      font-size: 13px;
      border-radius: 0;
      box-sizing: border-box;
      outline: none;
      margin: -5px 0 0;
      padding: 8px;
    }
  }
  .social {
    text-align: center;
    a {
      color: #6699cc;
      margin: 0 4%;

    }
  }
}
.right{
  background: #fff;
  width: calc(100% - 300px);
  margin-left: 270px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  //float: left;
  #social_share{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    li{
      list-style: none;
      width: 130px;
      height: 62px;
      margin: 1px;
      a {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        color: #fff;
        i, span {
          display: block;
          text-align: center;
        }
      }
    }

  }
  .content-all{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    //display: block;
    padding: 0 15px;
    font-size: 100%;
    letter-spacing: 0px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #626262;
    strong{
      font-weight: 700;
    }
    em{
      font-style: italic;
    }
    ul > li{
      list-style: disc outside;
      margin-left: 35px;
    }
    a{
      text-decoration: none;
      color: #6699cc;
    }
    h1{
      //font-weight: 700;
      font-size: 40px;
      color: #6699cc;
      text-align: center;
    }
    img{
      align-self: center;
    }
    p{
      margin-bottom: 10px;
      text-indent: 20px;
    }
  }
  .contentAll{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .contentOne{
      @include col-6();
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .social {
    display: flex;
    text-align: center;
    margin: 20px;
    a {
      color: #6699cc;
      margin: 0 1%;

    }
  }
  .ads {
    display: flex;
    @include justify-content(space-around);

    &_content {
      @include col-4();
    }
  }
  .top_menu{
    display: flex;
    @include justify-content(center);
    margin: 20px 0;
    a{
      text-decoration: none;
      margin: 0 15px;
      padding: 12px 30px;
      font-family: 'PT Sans Caption', sans-serif;
      color: #777777;
      transition: .3s linear;
      &:hover{
        color: #fff;
        background: url(../img/puzzle-hover-main.png) no-repeat;
        background-size: 100%;
      }
    }
  }
  .slider{
    text-align: center;
    img{
      width: 90%;
    }
  }
  .login{
    form {
      display: flex;
      @include justify-content(space-around);
      a{
        background-color: #5EA3E3;
        color: #fff;
        border: none;
        padding: 15px 30px;
        font-size: 100%;
        font-weight: 700;
        &#registration{
          background-color: #F6BF6C
        }
      }
    }
  }
  .block{
    display: flex;

    margin-top: 50px;
  }
  .read_all{
    align-self: flex-end;
    text-decoration: none;
    outline: 0;
    color: #0095eb;
    margin: 30px 0;
  }
  #mainPage h1{
    color: #0059eb;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    font-weight: 400;
  }
  .this_interesting{
    @include col();
    @include col-8();
    &_block{
      display: flex;
      flex-direction: column;
      color: #161922;
      img{
        width: 250px;
        max-width: max-content;
      }
    }
  }
  .video{
    @include col-4();
    @include col();
  }
  .news{
    display: flex;
    .new{
      @include col-3();
      display: flex;
      flex-direction: column;
    }
  }

  .podpiska{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    p{
      margin-bottom: 7px;
      /*text-transform: uppercase;*/
      letter-spacing: 1px;
      /*font-size: 14px;*/
      color: #a8a8a8;
      text-align: center;
      font-size: 100%;
      &.label{
        color: #6699cc;
        margin-bottom: 5px;
        font-weight: 700;
        align-self: flex-start;
        font-size: 100%;
      }
    }
    input[type="text"]{
      width: 100%;
      color: #000000;
      background-color: #f7f7f7;
      box-sizing: border-box;
      font-family: "Roboto", Arial, Tahoma, sans-serif;
      box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
      padding: 10px;
      outline: none;
      margin: 0;
      font-size: 13px;
      border: 1px solid #EBEBEB;
      border-radius: 0;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      &:focus{
        background-color: rgba(233, 245, 252, 1) !important;
        border-color: #d5e5ee;
      }
    }
    input[type="submit"]{
      background-color: #cc9933;
      color: #ffffff;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: inset 0 0 0 0;
      box-shadow: inset 0 0 0 0;
      -webkit-appearance: none;
      font-family: "Roboto", Arial, Tahoma, sans-serif;
      padding: 11px 20px;
      margin-right: 7px;
      border: 0;
      align-self: flex-start;
      font-weight: 400;
      font-size: 13px;

      &:hover{
        background-color: #ffffff;
        color: #cc9933;
      }
    }
  }

  .blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
  }
  .blog{
    @include col-6();
    margin-top: 15px;
    .author img{
      width: 24px;
    }
  }
  .books_block{
    flex-direction: column;
    p{
      margin-bottom: 7px;
      letter-spacing: 1px;
      color: #a8a8a8;
      text-align: center;
      font-size: 100%;
    }
    .col-6{
      margin: 0 1%;
    }
  }
  .calendar{
    display: flex;
    flex-direction: column;
    p{
      margin-bottom: 7px;
      letter-spacing: 1px;
      color: #a8a8a8;
      text-align: center;
      font-size: 100%;
    }
    .calendar_block{
      width: 100%;
      margin-top: 20px;
      .fc-title {
        color: #fff;
      }
    }
  }
  .block_forum{
    flex-direction: column;
    p{
      margin-bottom: 7px;
      letter-spacing: 1px;
      color: #a8a8a8;
      text-align: center;
      font-size: 100%;
    }
    .forum{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      .forum_category{
        width: 140px;
        border-color: rgba(0,0,0,0.2);
        border-width: 0 0 1px;
        border-style: solid;
        margin: 0 10px;
        padding: 25px 15px;
        &:hover{
          border-width: 0 0 1px;
          border-color: rgb(1, 149, 235);
        }
      }
      i.fa{
        color: #0095eb;
        font-size: 45px;
      }
      p{
        color: #161922;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  .login{
    flex-direction: column;

    .message{
      padding: 5px 10px;
      margin: 0;
      color: #505050;
      background-color: #FDFFDD;
      border: 1px solid #EEE78A;
    }
    form{
      margin: 30px 0;
    }
  }
  .content_unlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    .block_blue {
      @include size(8);
      align-self: center;
      background: #6699cc;
      padding: 30px 10px;
      h2{
        color: #fff;
        font-size: 21px;
        font-weight: bold;
      }
      h1{
        color: #fff;
        font-size: 30px;
        margin-bottom: 30px;
      }
    }
    .rrr{
      @include size(6);
      text-align: center;
      color: #6699cc;
      font-size: 21px;
      line-height: 25px;

    }
    .numbers{
      flex-wrap: wrap;
      justify-content: space-between;
      .item{
        @include size(4);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        h5{
          color: #0095eb;
          font-size: 18px;
          margin: 12px 0;
        }
        .number{
          font-size: 60px;
        }
      }
    }
    .steps{
      display: flex;
      justify-content: space-around;
      .step{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include size(2);
        .number{
          background: url("../img/line.png") no-repeat center center;
          width: 100%;
          margin-bottom: 20px;
          p{
            text-align: center;
            width: 35px;
            height: 35px;
            background: #0095eb;
            line-height: 35px;
            font-size: 15px;
            color: #fff;
            margin: 0 auto;
          }
        }
        h5{
          font-size: 21px;
          line-height: 25px;
          font-weight: 500;
          color: #161922;
          margin-bottom: 15px;
          text-align: center;
        }
      }
    }
    .login{
      align-self: stretch;
    }
  }
  .documents{
    margin-top: 30px;
    ul{
      li{
        list-style: none;
        font-weight: bold;
        color: #0095eb;
        font-size: 100%;
        margin-bottom: 35px;
      }
    }
  }
  .footer{
    background-color: #6699cc;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    &_left{
      @include col-9();
    }
    &_rigth{
      display: flex;
      align-items: center;
    }
    nav.bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a{
        display: block;
        font-weight: 700;
        padding: 0 3px;
        text-decoration: none;
        font-size: 100%;
        color: #ffffff;

      }

    }
    .social{
      margin-right: 30px;
      a{
        color: #ffffff;
        margin: 5px;
      }
    }
    #top{
      width: 42px;
      height: 42px;
      text-align: center;
      line-height: 42px;
      vertical-align: baseline;
      background: #ffffff;
    }
  }
  #comments{
    margin-top: 20px;
  }
  .books{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .book{
      @include size(3);
      margin: 20px 0;
      text-align: center;
      font-size: 21px;
      line-height: 25px;
      font-weight: 500;
      p {
        color: #161922 !important;
      }
    }
  }
  .forum-content{
    .channel{
      margin: 25px 0;
      &_title{
        background: url(/img/forum_title.png) repeat-x;
        border-radius: 5px;
        padding: 10px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a, i{
          font-weight: bold;
          font-size: 16px;
          color: #fff;
        }
      }
      table{
        width: 100%;

        .td1{
          width: 8%;
        }
        .td2{
          width: 16%;
        }
        .td3{
          width: 58%;
        }
        .td4{
          width: 16%;
        }
        th, td{
          text-align: center;
          font-size: 13px;
          padding: 9px;
          &.left_align{
            text-align: left;
          }

        }
        th{
          background: #F0F0F0;
          font-size: 16px;
          font-weight: 400;
        }
        tbody tr{
          border-bottom: 1px solid #dadede;
        }
      }
      &_more{
        text-align: right;
        margin: 1%;
        a{
          margin-right: 2%;
        }
      }
    }
    .reply{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid #bcbfc7;
      .author_block{
        @include size(2);
        margin: 0 auto;

        img{
          width: 100%
        }
        p{
          font-size: 13px;
          margin: 10px 5px;
          &.author_name{
            color: #474747;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
      .reply_content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include size(10);
        border-left: 1px solid #bcbfc7;
        .forum_date{
          font-size: 14px;
          padding: 10px 15px;
          border-bottom: 1px solid #bcbfc7;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          a{
            color: #5d5d60;
          }
        }
        .forum_text{
          color: #5d5d60;
          font-size: 15px;
          margin: 5px 15px 10px;
        }
        .quote{
          .quote_author{
            font-size: 12px;
            margin: 0 15px;
          }
          .forum_text{
            color: #6b6b71;
            border: 1px solid #c3cbd1;
            background: #fafafa;
            padding: 2px 6px;
            margin: 2px 15px 10px;
          }
        }
      }
    }
  }
  .contentOneColumn{

    .contentOne{
      display: flex;
      justify-content: space-around;
      .col_left{
        @include size(4);
      }
      .col_rigth{
        @include size(8);
      }
    }
  }

}

